@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.logo {
    width: 200px; /* Ajusta el ancho según tu diseño */
    height: 65px; /* Mantiene la proporción del logo */

}